body {
	background-image:url("imgs/fondo.jpg"); 
	background-size:repeat;
	font-family:Arial, Helvetica, sans-serif;
	text-align:center;
	
}

input[type=text]{
	border-radius: 5px;
	border: 2px solid black;
	color:#000000;
	width:200px;
}

option{
	border-radius: 5px;
	border: 2px solid black;
	color:#112233;
	width:94px;
}